.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1{
  color: blueviolet;
}

.navbar .links{
  margin-left: auto;
}

.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover{
  background-color: blueviolet;
  color: #f2f2f2;
  border-radius: 8px;
}

.home {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.home button{
  border-radius: 8px;
}

.todo-preview h3 {
  color:blueviolet;
}

.todo-obj h3 {
  color:blueviolet;
}

.todo-obj p {
  color: gray;
}